@font-face {
  font-family: ElenaInitial;
  src: url(fonts/ElenaWebRegular.woff2) format("woff2"),
    url(fonts/ElenaWebRegular.woff) format("woff");
}
@font-face {
  font-family: Elena;
  src: url(fonts/ElenaWebRegular.woff2) format("woff2"),
    url(fonts/ElenaWebRegular.woff) format("woff");
}
@font-face {
  font-family: Elena;
  src: url(fonts/ElenaWebRegularItalic.woff2)
      format("woff2"),
    url(fonts/ElenaWebRegularItalic.woff) format("woff");
  font-style: italic;
}
@font-face {
  font-family: Elena;
  src: url(fonts/ElenaWebBold.woff2) format("woff2"),
    url(fonts/ElenaWebBold.woff) format("woff");
  font-weight: 700;
}
@font-face {
  font-family: Elena;
  src: url(fonts/ElenaWebBoldItalic.woff2) format("woff2"),
    url(fonts/ElenaWebBoldItalic.woff) format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: MijaInitial;
  src: url(fonts/Mija_Regular-webfont.woff2) format("woff2"),
    url(fonts/Mija_Regular-webfont.woff) format("woff");
}
@font-face {
  font-family: Mija;
  src: url(fonts/Mija_Regular-webfont.woff2) format("woff2"),
    url(fonts/Mija_Regular-webfont.woff) format("woff");
}
@font-face {
  font-family: Mija;
  src: url(fonts/Mija_Bold-webfont.woff2) format("woff2"),
    url(fonts/Mija_Bold-webfont.woff) format("woff");
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #57606f;
  padding: 30px;
}
.navLinks {
  height: 50px;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  font-family: Mija;
}
nav a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
nav ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
}
.nav-links a {
  padding: 10px;
  border-radius: 11px;
}
.nav-links a:hover {
  background-color: #747d8c;
}

.search-box input {
  border-radius: 11px;
  height: 50px;
  font-size: 20px;
  font-weight: 700;
  padding-left: 50px;
}
.fa-search {
  position: relative;
  right: 90%;
  color: #2f3542;
  font-weight: 700;
  font-size: 20px;
}
.container-1 {
  justify-content: center;
  box-sizing: border-box;
}
.box {
  display: inline-block;
  height: 600px;
}
.wrap-cnt {
  margin: 25% auto auto 10%;
  display: inline-grid;
  row-gap: 50%;
}
.box-width {
  width: 50%;
}
.box-1-color {
  background-color: #747d8c;
}
.box-2-color {
  background-color: #747d8cd1;
}
.blogs {
  left: 6%;
  top: 50%;
  display: inline-grid;
  row-gap: 23px;
}
.event-numb {
  gap: 10px;
}
.athr-blog-name {
  gap: 10px;
}
.athr-name {
  gap: 10px;
}
.athr-name h4 {
  font-size: 20px;
  margin-top: 13px;
}
.athr-blog-name h2 {
  font-size: 25px;
}
.athr-blog-name h5 {
  margin-top: 7px;
  font-size: 14px;
}
.box .arrow-icon {
  bottom: 15%;
  left: 5%;
}
.arrow-icon .fa-lg {
  font-size: 2.333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.box-4-color {
  background-color: rgb(171 180 190 / 98%);
}

.title1 {
  width: 500px;
  top: 17%;
  left: 35%;
}
.title2 {
  width: 200px;
  top: 26%;
  left: 44%;
}
.t-1-2 {
  padding: 20px;
  text-align: center;
}
.p-absolute {
  position: absolute;
}
.bck-white {
  background-color: white;
}
.br-radius {
  border-radius: 15px;
}
.br-color {
  border: solid #57606f;
}
.img-box {
  width: 61px;
  height: 61px;
}
.txt-box {
  width: 137px;
  height: 35px;
  background-color: transparent;
}
.side-icons {
  top: 21%;
  display: flex;
  gap: 20px;
  right: 10%;
}
.pic-box {
  width: 61px;
  height: 61px;
}
.box-grid {
  justify-content: flex-start;
  flex-wrap: wrap;
  flex: 1;
}
.d-flex {
  display: flex;
}

.container-2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "rw-bx-1   rw-bx-1    rw-bx-1    rw-bx-1   rw-bx-1"
    "artc-1    artc-1     artc-1     artc-1    artc-1 "
    "cl-bx-1   cl-bx-1    cl-bx-1    cl-bx-1   cl-bx-1"
    "artc-2    artc-2     artc-2     artc-2    artc-2 "
    "cl-bx-2   cl-bx-2    cl-bx-2    cl-bx-2   cl-bx-2"
    "mr-artc-1 mr-artc-1  mr-artc-1  mr-artc-1 mr-artc-1"
    "cl-bx-3   cl-bx-3    cl-bx-3    cl-bx-3   cl-bx-3"
    "artc-4    artc-4     artc-4     artc-4    artc-4"
    "artc-5    artc-5     artc-5     artc-5    artc-5"
    "mr-artc-2 mr-artc-2  mr-artc-2  mr-artc-2 mr-artc-2"
    "rw-bx-2   rw-bx-2    rw-bx-2    rw-bx-2   rw-bx-2"
    "artc-7    artc-7     artc-7     artc-7    artc-7"
    "mr-artc-3 mr-artc-3  mr-artc-3  mr-artc-3 mr-artc-3";
}

.grid-1 {
  grid-area: rw-bx-1;
  background-color: #2f3542;
  height: 400px;
}
.grid-2 {
  grid-area: artc-1;
  height: 500px;
}
.articles {
  justify-content: center;
  gap: 20px;
  margin: 3% 5% 0% 5%;
}
.artc1 {
  display: inline-grid;
  row-gap: 10px;
}
.grid-3 {
  grid-area: cl-bx-1;
  height: 700px;
}
.wrp1 {
  background-image: linear-gradient(
      to bottom right,
      rgba(34, 47, 62, 1),
      rgba(87, 101, 116, 0.9)
    ),
    url("images/Capture1.PNG");
}
.bck-img-color-prop {
  width: 835px;
  height: 80%;
  border-radius: 15px;
  right: 2%;
  margin-top: 16px;
}

.bck-prop {
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
  background-size: cover;
  position: absolute;
}

.grid-4 {
  grid-area: artc-2;
  height: 500px;
}

.grid-5 {
  grid-area: cl-bx-2;
  height: 700px;
}
.wrp2 {
  background-image: linear-gradient(
      to bottom right,
      rgba(34, 47, 62, 1),
      rgba(87, 101, 116, 0.9)
    ),
    url("images/Capture2.PNG");
}
.cont {
  justify-content: flex-start;
  display: inline-grid;
}
.txt-cont2 {
  width: 30%;
  display: inline-grid;
  margin: 5%;
}

.grid-6 {
  grid-area: mr-artc-1;
  height: 300px;
}
.lts-art {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  background-color: #576574;
  width: 27%;
  position: relative;
  left: 36%;
  top: 80%;
}
.grid-7 {
  grid-area: cl-bx-3;
  height: 700px;
  position: relative;
}
.wrp3 {
  width: 100%;
  height: 100%;
  background: radial-gradient(
      circle,
      rgba(200, 214, 229, 0.9) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url(images/Capture3.PNG);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6;
  background-size: contain;
}

.grid-8 {
  grid-area: artc-4;
  height: 400px;
  background: #a4b0be;
  display: flex;
  justify-content: center;
}
.grid-8 > .grid-8-container{
  display: flex;
  align-items: center;
  height: 100%;
  gap: 15px;
  width: 97%;
}

.grid-8 .pic-box{
  flex: 1;
  height: 50%;
  margin: 0 auto;
}

.grid-8 article{
  flex: 4;
  height: 60%;
  background: #576574;
  padding: 10px;
}

.grid-8 article p{
  margin-top: 30px;
}

.grid-8 article h1{
  background: #747d8c;
}

.grid-9 {
  grid-area: artc-5;
  display: flex;
  min-height:500px; 
}

.grid-9 > section{
  display: flex;
  flex-wrap: wrap;
  background: yellow;

}

.grid-9 > section > div{
  width: 50%;
  height: 100%;
  background: red;
}
.grid-10 {
  grid-area: mr-artc-2;
}
.grid-11 {
  grid-area: rw-bx-2;
}
.grid-12 {
  grid-area: artc-7;
}

.grid-13 {
  grid-area: mr-artc-3;
}
footer {
  background-color: #2f3542;
  height: 400px;
}
.sm-img {
  background-color: gray;
}
.container-color {
  background-color: #a4b0be;
}
.bck-size {
  background-size: cover;
}
.bck-org {
  background-origin: border-box;
}
