@font-face {
  font-family: ElenaInitial;
  src:
    url(fonts/ElenaWebRegular.woff2) format("woff2"),
    url(fonts/ElenaWebRegular.woff) format("woff");
}

@font-face {
  font-family: Elena;
  src:
    url(fonts/ElenaWebRegular.woff2) format("woff2"),
    url(fonts/ElenaWebRegular.woff) format("woff");
}

@font-face {
  font-family: Elena;
  src:
    url(fonts/ElenaWebRegularItalic.woff2)
    format("woff2"),
    url(fonts/ElenaWebRegularItalic.woff) format("woff");
  font-style: italic;
}

@font-face {
  font-family: Elena;
  src:
    url(fonts/ElenaWebBold.woff2) format("woff2"),
    url(fonts/ElenaWebBold.woff) format("woff");
  font-weight: 700;
}

@font-face {
  font-family: Elena;
  src:
    url(fonts/ElenaWebBoldItalic.woff2) format("woff2"),
    url(fonts/ElenaWebBoldItalic.woff) format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: MijaInitial;
  src:
    url(fonts/Mija_Regular-webfont.woff2) format("woff2"),
    url(fonts/Mija_Regular-webfont.woff) format("woff");
}

@font-face {
  font-family: Mija;
  src:
    url(fonts/Mija_Regular-webfont.woff2) format("woff2"),
    url(fonts/Mija_Regular-webfont.woff) format("woff");
}

@font-face {
  font-family: Mija;
  src:
    url(fonts/Mija_Bold-webfont.woff2) format("woff2"),
    url(fonts/Mija_Bold-webfont.woff) format("woff");
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bck-color1 {
  background-color: #6d6d6d;
}

.bck-color2 {
  background-color: #333;
}

.bck-color3 {
  background-color: #a1a1a1;
}

nav {
  padding: 30px;
}

.navLinks {
  height: 50px;
  margin: 0 auto;
  justify-content: space-between;
  font-family: Mija, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav a {
  text-decoration: none;
  color: #6d6d6d;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
}

.nav-links a {
  padding: 10px;
  border-radius: 11px;
}

.nav-links a:hover {
  background-color: #6d6d6d;
}

.complogo {
  width: 295px;
  height: 74px;
  background-color: gray;
}

.search-box input {
  border-radius: 11px;
  height: 50px;
  font-size: 20px;
  font-weight: 700;
  padding-left: 50px;
}

.fa-search {
  position: relative;
  right: 90%;
  color: #2f3542;
  font-weight: 700;
  font-size: 20px;
}

.container-1 {
  box-sizing: border-box;
}

.box {
  display: inline-block;
  height: 600px;
}

.wrap-cnt {
  margin: 25% auto auto 10%;
  display: inline-grid;
  row-gap: 50%;
  height: 69%;
}

.box-width {
  width: 50%;
}

.box-1-color {
  background-color: #333;
}

.box-2-color {
  background-color: #333333d1;
}

.cl-white {
  color: #6d6d6d;
}

.blogs {
  left: 6%;
  top: 50%;
  display: inline-grid;
  row-gap: 23px;
}

.event-numb {
  padding: 3px;
}

.athr-blog-name {
  border: 2px solid #2c3e50;
  padding: 5px;
}

.athr-name {
  border: 2px solid #2c3e50;
  padding: 5px;
}

.gap-10 {
  gap: 10px;
}

.athr-name h4 {
  font-size: 20px;
  margin-top: 13px;
  width: 50%;
  margin-bottom: 2%;
  border: 2px solid #2c3e50;
}

.athr-blog-name h2 {
  font-size: 25px;
}

.athr-blog-name h5 {
  margin-top: 7px;
  font-size: 14px;
}

.box .arrow-icon {
  bottom: 15%;
  left: 5%;
}

.arrow-icon .fa-lg {
  font-size: 2.333333em;
  line-height: 0.75em;
  vertical-align: -15%;
  padding-right: 10px;
  background-color: #2f3640;
}

.title1 {
  width: 500px;
  top: 17%;
  left: 35%;
}

.title2 {
  width: 200px;
  top: 24%;
  left: 44%;
}

.t-1-2 {
  padding: 20px;
}

.p-absolute {
  position: absolute;
}

.bck-white {
  background-color: #6d6d6d;
}

.br-radius {
  border-radius: 15px;
}

.br-color {
  border: solid #57606f;
}

.img-box {
  width: 61px;
  height: 61px;
}

.txt-box {
  width: 137px;
  height: 35px;
}

.side-icons {
  top: 21%;
  gap: 20px;
  right: 10%;
}

.pic-box {
  width: 61px;
  height: 61px;
  margin-right: 5px;
}

.box-grid {
  justify-content: flex-start;
  flex-wrap: wrap;
  flex: 1;
}

.d-flex {
  display: flex;
}

.aln-self-center {
  align-self: center;
}

.js-self-center {
  justify-self: center;
}

.js-content {
  justify-content: center;
}

.al-items-center {
  align-items: center;
}

.container-2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "rw-bx-1   rw-bx-1    rw-bx-1    rw-bx-1   rw-bx-1"
    "artc-1    artc-1     artc-1     artc-1    artc-1 "
    "cl-bx-1   cl-bx-1    cl-bx-1    cl-bx-1   cl-bx-1"
    "artc-2    artc-2     artc-2     artc-2    artc-2 "
    "cl-bx-2   cl-bx-2    cl-bx-2    cl-bx-2   cl-bx-2"
    "mr-artc-1 mr-artc-1  mr-artc-1  mr-artc-1 mr-artc-1"
    "cl-bx-3   cl-bx-3    cl-bx-3    cl-bx-3   cl-bx-3"
    "artc-4    artc-4     artc-4     artc-4    artc-4"
    "artc-5    artc-5     artc-5     artc-5    artc-5"
    "mr-artc-2 mr-artc-2  mr-artc-2  mr-artc-2 mr-artc-2"
    "rw-bx-2   rw-bx-2    rw-bx-2    rw-bx-2   rw-bx-2"
    "artc-7    artc-7     artc-7     artc-7    artc-7"
    "mr-artc-3 mr-artc-3  mr-artc-3  mr-artc-3 mr-artc-3";
}

.grid-1 {
  position: relative;
  grid-area: rw-bx-1;
  height: 400px;
}

.grid-1-content {
  display: inline-grid;
  gap: 2px;
  width: 700px;
  height: 80%;
  line-height: 1.5;
  margin-left: 10%;
  margin-top: 2%;
}

.grid-1-content ul {
  text-align: start;
}

.grid-1-content div {
  width: 500px;
}

.grid-2 {
  grid-area: artc-1;
  height: 500px;
}

.articles {
  gap: 20px;
  margin: 3% 5% 0% 5%;
  height: 80%;
}

.artc1 {
  display: inline-grid;
}

.grid-3 {
  grid-area: cl-bx-1;
  height: 700px;
}

.wrp1 {
  background-image: linear-gradient(to bottom right, rgba(132, 129, 122, 1), rgba(170, 166, 157, 0.9)), url("images/coffeeImg.png");
}

.bck-img-color-prop {
  width: 835px;
  height: 80%;
  border-radius: 15px;
  right: 2%;
  margin-top: 16px;
}

.bck-prop {
  background-repeat: no-repeat;
  background-origin: border-box;
  background-size: cover;
  background-position: center;
  position: absolute;
}

.grid-4 {
  grid-area: artc-2;
  height: 500px;
}

.grid-5 {
  grid-area: cl-bx-2;
  height: 700px;
}

.wrp2 {
  background-image: linear-gradient(to bottom right, rgba(132, 129, 122, 0.9), rgba(170, 166, 157, 0.9)), url('images/camera.png');
}

.cont {
  justify-content: flex-start;
  display: inline-grid;
  width: 400px;
  height: 85%;
  margin-left: 5%;
}

.txt-cont2 {
  display: inline-grid;
}

.txt-cont2-article-p {
  line-height: 1.5;
  margin-top: 2%;
}

.txt-cont2-article {
  padding-top: 10px;
  padding-bottom: 10px;
}

.txt-cont2-article-h6 {
  padding-bottom: 5px;
  width: 82px;
}

.txt-cont2-article-h1 {
  margin: 5px auto;
}

.txt-cont2-article-h5 {
  width: 23%;
}

.f-size {
  font-size: 16px;
}

.grid-6 {
  grid-area: mr-artc-1;
  height: 300px;
}

.lts-art {
  text-transform: uppercase;
  position: relative;
  top: 80%;
}

.lts-art h3 {
  letter-spacing: 1px;
  border-bottom-style: solid;
  padding: 3px;
}

.grid-7 {
  grid-area: cl-bx-3;
  height: 700px;
  color: white;
}

.wrp3 {
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(83, 92, 104, 0.9) 30%, rgba(0, 0, 0, 1) 83%), url(images/Capture3.PNG);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
  background-size: contain;
  position: relative;
}

.textAndImage2 {
  position: relative;
  top: 48%;
  display: inline-grid;
  row-gap: 27px;
}

.textAndImage1 {
  width: 45%;
}

.arrw-ic {
  align-self: end;
}

.ads-img {
  position: absolute;
  left: 60%;
  bottom: 20%;
}

.arrow-icon-text {
  color: #2f3542;
  display: inline-flex;
  align-self: start;
}

.arrow-icon-text h3 {
  padding: 13px;
  border-radius: 3px;
}

.grid-7-p {
  font-size: 15px;
  width: 500px;
  line-height: 21px;
}

.txt-center {
  text-align: center;
}

.grid-8 {
  grid-area: artc-4;
  height: 400px;
}

.grid-8 > .grid-8-container {
  height: 100%;
  gap: 15px;
  width: 97%;
}

.grid-8 .pic-box {
  flex: 1;
  height: 50%;
  margin: 0 auto;
}

.grid-8 article {
  flex: 4;
  height: 60%;
  padding: 10px;
}

.grid-8 article p {
  margin-top: 30px;
}

.grid-9 {
  grid-area: artc-5;
  display: flex;
  min-height: 500px;
  flex-wrap: wrap;
}

.grid-9 > section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  align-content: space-around;
  padding: 10px;
}

.grid-9 > section > div {
  width: 45%;
  height: 100%;
  background: #a1a1a1;
  display: flex;
  margin-top: 10px;
  min-height: 200px;
  padding: 20px;
}

.grid-9 > .more-links {
  height: 80px;
  width: 100%;
}

.grid-9 > .more-links > div {
  width: 300px;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a4b0be;
}

.grid-9 > section > div.article-recommedation > .article-container {
  margin-left: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.grid-10 {
  grid-area: mr-artc-2;
  height: 400px;
  display: flex;
  padding: 10px;
}

.grid-10 > .left-content {
  width: 70%;
  height: 100%;
  background: #a1a1a1;
  margin-right: 10px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
}

.grid-10 > .left-content > h2 {
  width: 30%;
}

.grid-10 > .left-content > h1 {
  width: 40%;
}

.grid-10 > .left-content > p {
  width: 80%;
}

.dark-box {
  background: #333;
  color: #57606f;
}

.light-box {
  background: #a1a1a1;
  color: #a3b1be;
}

.tbc-link {
  font-size: 2rem;
  width: 30%;
  border-radius: 5px;
}

.grid-10 > .right-content {
  width: 30%;
  height: 100%;
  background: #a1a1a1;
  margin-right: 10px;
}

.grid-10 > .right-content > .book-image {
  height: 100%;
  width: 60%;
  margin: 0 auto;
  margin-top: -40px;
  border: 2px solid #a3b1be;
}

.grid-11 {
  grid-area: rw-bx-2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 50px;
}

.grid-11 > .guide-box {
  width: 25%;
  min-height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.grid-11 > .guide-box > .btn {
  min-height: 50px;
  border-radius: 10px;
}

.grid-12 {
  grid-area: artc-7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.grid-12 > .news-letter-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 40%;
  min-height: 400px;
  padding: 20px;
}

.grid-12 > .all-guides-link {
  width: 10%;
  min-height: 50px;
}

.grid-12 > .news-letter-box > .image-box {
  min-height: 200px;
  border-radius: 100%;
  width: 40%;
  margin: 20px auto;
  outline: #a4b0be;
}

.grid-12 > .news-letter-box > .cont {
  height: 100px;
  width: 90%;
}

.grid-12 > .news-letter-box > .subscribe-input {
  min-height: 100px;
  display: flex;
  padding: 10px;
}

.grid-12 > .news-letter-box > .subscribe-input > .space {
  min-height: 100px;
  flex: 2;
}

.grid-12 > .news-letter-box > .subscribe-input > .sub-btn {
  min-height: 100px;
  flex: 1;
  border: 2px solid #a4b0be;
}

footer {
  min-height: 400px;
}

footer > .ft-box > div > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer > .ft-box > h4 {
  width: 40%;
  margin: 0 auto;
}

footer > .ft-box > div > ul > li {
  padding: 25px;
  background: #333;
  color: #a3b1be;
  margin: 10px;
}

footer .lower-footer {
  display: flex;
  min-height: 200px;
  padding: 20px;
}

footer .lower-footer .box-l-footer {
  min-height: 300px;
  width: 35%;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  position: relative;
}

footer .lower-footer .box-l-footer .content-l-footer {
  text-align: center;
}

footer .lower-footer .box-l-footer .content-l-footer ul {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  justify-content: center;
}

footer .lower-footer .box-l-footer .content-l-footer ul li {
  background: #2f3640;
  color: #2f3640;
  margin-left: 10px;
  margin-top: 20px;
}

.footer-img {
  width: 50%;
  height: 80%;
  position: absolute;
  bottom: 0;
  border: 2px solid #2f3640;
}

.sm-img {
  background-color: gray;
}

.container-color {
  background-color: #333333d1;
}

.bck-size {
  background-size: cover;
}

.bck-org {
  background-origin: border-box;
  position: relative;
}

.mt-2 {
  margin-top: 20px;
}

.mb-2 {
  margin-bottom: 20px;
}

.p-5 {
  padding: 50px;
}

.mt-5 {
  margin-top: 50px;
}

.mb-5 {
  margin-bottom: 50px;
}
